<pre id="ascii-banner" width="850" height="250">
'########:::'#######::'########::'########::'########:'########::'##::::::::::'###::::'##::: ##:'########::
 ##.... ##:'##.... ##: ##.... ##: ##.... ##: ##.....:: ##.... ##: ##:::::::::'## ##::: ###:: ##: ##.... ##:
 ##:::: ##: ##:::: ##: ##:::: ##: ##:::: ##: ##::::::: ##:::: ##: ##::::::::'##:. ##:: ####: ##: ##:::: ##:
 ########:: ##:::: ##: ########:: ##:::: ##: ######::: ########:: ##:::::::'##:::. ##: ## ## ##: ##:::: ##:
 ##.... ##: ##:::: ##: ##.. ##::: ##:::: ##: ##...:::: ##.. ##::: ##::::::: #########: ##. ####: ##:::: ##:
 ##:::: ##: ##:::: ##: ##::. ##:: ##:::: ##: ##::::::: ##::. ##:: ##::::::: ##.... ##: ##:. ###: ##:::: ##:
 ########::. #######:: ##:::. ##: ########:: ########: ##:::. ##: ########: ##:::: ##: ##::. ##: ########::
........::::.......:::..:::::..::........:::........::..:::::..::........::..:::::..::..::::..::........:::
'##:::'##:'########:'########:'########::                           [][][] /""\ [][][]
 ##::'##:: ##.....:: ##.....:: ##.... ##:                            |::| /____\ |::|
 ##:'##::: ##::::::: ##::::::: ##:::: ##:                            |[]|_|::::|_|[]|
 #####:::: ######::: ######::: ########::                            |::::::__::::::|
 ##. ##::: ##...:::: ##...:::: ##.....:::                            |:::::/||\:::::|
 ##:. ##:: ##::::::: ##::::::: ##::::::::                            |:#:::||||::#::|
 ##::. ##: ########: ########: ##::::::::                           #%*###&*##&*&#*&##
..::::..::........::........::..:::::::::                          ##%%*####*%%%###*%*#
</pre>
