<h3>Links</h3>
<ul>
  <li> <a href="/"> Main Page </a> </li>
  <li> <a href="https://matrix.to/#/#borderland-keep-guildhall:guild.borderlandkeep.com"> The Guild </a> </li>
  <li> <a href="https://tavern.borderlandkeep.com"> The Tavern </a> </li>
</ul>
<h3>Contributors</h3>
<ul class="constributors">
  <li><div class="h-card" id="info">
        <a class="p-name u-url"
           href="https://floodedrealms.com">ShockTohp - Flooded Realms </a>
        <br>
        <a mailto="shocktohp@floodedrealms.com"> Email me </a>
      </div>
  </li>
</ul>
